/*
 * Device Tree overlay for RaspberryPi PowerTip DSI panel
 *
 */

#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			power-domains = <&power 18>;
			status = "okay";

			port {
				dsi_out_port: endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};

			panel@0 {
				compatible = "powertip,ph720128t003";
				pinctrl-names = "default";
				pinctrl-0 = <&rpi_display_pins>;
				reg = <0>;
				reset-gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			rpi_display_pins: rpi_display_pins {
				brcm,pins = <4>;
				brcm,function = <1>; /* out */
				brcm,pull = <2>; /* up */
			};
		};
	};
};
